<div class="home__container">
  <div class="home__card-destaque"></div>
  <div class="home__cards">
    <h2>Editor's Choice
      <div class="home__cards-content">
        <div class="home__cards-content-opt">
          <img src="https://th.bing.com/th/id/R.6a40e94b978dbbf2409aec3586eda95c?rik=4MNfrPmaJYf%2fHA&riu=http%3a%2f%2f1.bp.blogspot.com%2f-LlJRCmrXMB4%2fVVO4krykb_I%2fAAAAAAAAC_0%2fNna9dJwRfeQ%2fs1600%2fsala-luxo.jpg&ehk=mU8cPCFV9hz%2f8JgYNKtfwHXyQRSlEswGtq%2f7EYz19B4%3d&risl=&pid=ImgRaw&r=0"
          alt="">
          <span><a href="#">Lorem</a></span>
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>

          <img src="https://th.bing.com/th/id/R.6a40e94b978dbbf2409aec3586eda95c?rik=4MNfrPmaJYf%2fHA&riu=http%3a%2f%2f1.bp.blogspot.com%2f-LlJRCmrXMB4%2fVVO4krykb_I%2fAAAAAAAAC_0%2fNna9dJwRfeQ%2fs1600%2fsala-luxo.jpg&ehk=mU8cPCFV9hz%2f8JgYNKtfwHXyQRSlEswGtq%2f7EYz19B4%3d&risl=&pid=ImgRaw&r=0"
          alt="">
          <span><a href="#">Lorem</a></span>
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
        </div>
        <div class="home__cards-content-main"
        style="background-image: url(https://th.bing.com/th/id/R.645010afaaca5129ee94eff4c62b7479?rik=73rW49RnKytkKQ&pid=ImgRaw&r=0);
        background-size: 100% 100%; background-repeat: no-repeat;">
          <div class="home__cards-content-main-left"></div>
          <div class="home__cards-content-main-right">
            <span><a href="#">Lorem</a></span>
              <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo nisi ab odio accusamus, eaque architecto.</p>
          </div>
        </div>


      </div>
    </h2>
  </div>
</div>
