.home__container{
  background-color: rgb(233, 233, 233);
  z-index: 1; /* Ajuste do conteúdo da página para evitar sobreposição */
  padding-top: 6%;
  padding-bottom: 6%;

}

.home__card-destaque{
  display: flex;
  flex-direction: column;
}

.home__cards{
  display: flex;
  flex-direction: column;
}

.home__cards > h2 {
  margin-left:10px;
  font-size: 30px;
}

.home__cards-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left:10px;
  margin-right:10px;
}

.home__card-left{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 19%;
  /* border: 2px solid red; */
}

.home__card-right{
  display: flex;
  flex-direction: column;

  /* border: 2px solid red; */
  width: 79%;
}

