.destaque__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden; /*Evita sobreposição de components*/
  align-items: center;
  height: 400px;
}

.destaque__img-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  width: 40%;


}

.img-lft-top{
  display: flex;
  flex-direction: row;
  gap: 15px;  /* 10px de espaçamento entre linhas e 20px entre colunas */
  margin-bottom: 10px;

}

.img-lft-top > img{
  height: 100px;
  width: 100px;
  max-width: 100%;
  border-radius: 15px;
  margin-right: 15px;
}

.img-lft-bottom{
  display: flex;
  flex-direction: row;
  justify-content: left; /*Alinha a direita*/
  gap: 15px ;  /* 10px de espaçamento entre linhas e 20px entre colunas */
  margin-top: 10px;
  max-width: 100%;

}

.img-lft-bottom > img{
  height: 100px;
  width: 100px;
  max-width: 100%;
  border-radius: 15px;
  margin-right: 15px;
}


.destaque__title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

  border: 1px solid black;
  width: 20%;
}

.destaque__img-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinha os itens verticalmente na direita */
  width: 40%;
  border: 1px solid black;
}

.img-rgt-top{
  display: flex;
  flex-direction: row;
  gap: 15px;  /* 10px de espaçamento entre linhas e 20px entre colunas */
  margin-bottom: 10px;

}

.img-rgt-top > img{
  height: 100px;
  width: 100px;
  max-width: 100%;
  border-radius: 15px;
  margin-left: 15px;
}

.img-rgt-bottom{
  display: flex;
  flex-direction: row;
  gap: 15px;  /* 10px de espaçamento entre linhas e 20px entre colunas */
  margin-top: 10px;
}

.img-rgt-bottom > img{
  height: 100px;
  width: 100px;
  max-width: 100%;
  border-radius: 15px;
  margin-left: 15px;
}
