.destaque__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden; /*Evita sobreposição de components*/
  align-items: center;
  height: 400px;
}

.destaque__img-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid black; */
  max-width: 35%;
}

.img-lft-top{
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 15px;  /* 10px de espaçamento entre linhas e 20px entre colunas */
  margin-bottom: 10px;
}

.img-lft-top > img{
  height: 100px;
  width: 100px;
  max-width: 100%;
  border-radius: 15px;
}

.img-lft-bottom{
  display: flex;
  flex-direction: row;
  justify-content: left; /*Alinha a direita*/
  gap: 15px ;  /* 10px de espaçamento entre linhas e 20px entre colunas */
  margin-top: 10px;
  max-width: 100%;
  margin-left: -50px;
}

.img-lft-bottom > img{
  height: 100px;
  width: 100px;
  max-width: 100%;
  border-radius: 15px;
}


.destaque__title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

  /* border: 1px solid black; */
  width: 40%;
}

.destaque__title > h1{
  font-size: 80px;
  font-weight: 100; /*Tirar o Negrito*/
  margin-bottom: 20px;
}

.destaque__search{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 50px;
  background-color: white;

}

.destaque__search > img {
  height: 20px;
  width: 20px;
  margin: 10px 15px;
}

.destaque__search> input{
  width: 90%;
  height: 90%;
  margin-right: 10px;
}
.destaque__span-tps{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;

}
.destaque__span-tps > span{
    display: flex;
    flex-direction: column;

    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 15px;
    border: 1px solid white;
    font-size: 10px;
    background-color: rgba(128, 128, 128, 0.63);
    color: black;
}

.destaque__span-tps > span > a{
  text-decoration: none;
  color: inherit;
}

.destaque__span-tps > span:hover{
  font-weight: 500;
  color: inherit;
}

.destaque__span-tps > span > a:active{
  color: black;
  position: relative;
  bottom: 2px;
}

.destaque__img-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinha os itens verticalmente na direita */
  max-width: 35%;
  /* border: 1px solid black; */
}

.img-rgt-top{
  display: flex;
  flex-direction: row;
  gap: 15px;  /* 10px de espaçamento entre linhas e 20px entre colunas */
  margin-bottom: 10px;
  align-items: end;
  margin-right: -50px;
}

.img-rgt-top > img{
  height: 100px;
  width: 100px;
  max-width: 100%;
  border-radius: 15px;
}

.img-rgt-bottom{
  display: flex;
  flex-direction: row;
  gap: 15px;  /* 10px de espaçamento entre linhas e 20px entre colunas */
  margin-top: 10px;
}

.img-rgt-bottom > img{
  height: 100px;
  width: 100px;
  max-width: 100%;
  border-radius: 15px;
}
