.destaque__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden; /*Evita sobreposição de components*/
  align-items: center;
  height: 300px;
  background-color: beige;
  z-index: 1000;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.destaque__img-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid black; */
  max-width: 35%;
}

.img-lft-top{
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 15px;  /* 10px de espaçamento entre linhas e 20px entre colunas */
  margin-bottom: 10px;
}

.img-lft-top > img{
  height: 100px;
  width: 100px;
  max-width: 100%;
  border-radius: 15px;
}

.img-lft-bottom{
  display: flex;
  flex-direction: row;
  justify-content: left; /*Alinha a direita*/
  gap: 15px ;  /* 10px de espaçamento entre linhas e 20px entre colunas */
  margin-top: 10px;
  max-width: 100%;
  margin-left: -50px;
}

.img-lft-bottom > img{
  height: 100px;
  width: 100px;
  max-width: 100%;
  border-radius: 15px;
}


.destaque__title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

  /* border: 1px solid black; */
  width: 40%;
}

.destaque__title > h1{
  font-size: 80px;
  font-weight: 100; /*Tirar o Negrito*/
  margin-bottom: 20px;
}

.destaque__search{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 50px;
  background-color: white;
}

.destaque__search > img {
  height: 20px;
  width: 20px;
  margin: 10px 15px;
}

/* Remove a borda preta padrão ao focar o input */
.destaque__search> input[type="search"]{
  width: 90%;
  height: 90%;
  margin-right: 10px;
  outline: none; /* Remove a borda de destaque padrão do navegador */
  border: 1px solid #ccc; /* Define uma borda inicial leve */
  padding: 8px; /* Ajuste de padding para melhor espaçamento */
  border-radius: 20px; /* Define a borda arredondada do campo */
  transition: box-shadow 0.3s ease; /* Suaviza o efeito de sombra ao focar */
}

/* Aplica uma sombra e borda personalizada quando o input está em foco */
.destaque__search > input[type="search"]:focus {
  outline: none; /* Garante que o outline continue removido ao focar */
  border: 1px solid #4CAF50; /* Muda a cor da borda ao focar */
  box-shadow: 0px 0px 8px rgba(76, 175, 80, 0.5); /* Aplica uma sombra sutil ao redor */
}

.destaque__span-tps{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;

}
.destaque__span-tps > span{
    display: flex;
    flex-direction: column;

    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 15px;
    border: 1px solid white;
    font-size: 10px;
    background-color: rgba(128, 128, 128, 0.63);
    color: black;
}

.destaque__span-tps > span > a{
  text-decoration: none;
  color: inherit;
}

.destaque__span-tps > span:hover{
  font-weight: 500;
  color: inherit;
  box-shadow: 0px 0px 10px rgb(82, 115, 128);
}

.destaque__span-tps > span > a:active{
  color: black;
  position: relative;
  bottom: 2px;
}

.destaque__img-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinha os itens verticalmente na direita */
  max-width: 35%;
  /* border: 1px solid black; */
}

.img-rgt-top{
  display: flex;
  flex-direction: row;
  gap: 15px;  /* 10px de espaçamento entre linhas e 20px entre colunas */
  margin-bottom: 10px;
  align-items: end;
  margin-right: -50px;
}

.img-rgt-top > img{
  height: 100px;
  width: 100px;
  max-width: 100%;
  border-radius: 15px;
}

.img-rgt-bottom{
  display: flex;
  flex-direction: row;
  gap: 15px;  /* 10px de espaçamento entre linhas e 20px entre colunas */
  margin-top: 10px;
}

.img-rgt-bottom > img{
  height: 100px;
  width: 100px;
  max-width: 100%;
  border-radius: 15px;
}
