<div class="destaque__container">
  <div class="destaque__img-left">
    <div class="img-lft-top">
      <img src="{{imgCard}}" style="height: 120px;width: 120px;">
      <img src="{{imgCard}}" alt=""style="height: 80px;width: 80px;">
      <img src="{{imgCard}}" alt=""style="height: 50px;width: 50px;">
    </div>
    <div class="img-lft-bottom">
      <img src="{{imgCard}}" alt=""style="height: 120px;width: 120px;">
      <img src="{{imgCard}}" alt=""style="height: 80px;width: 80px;">
      <img src="{{imgCard}}" alt=""style="height: 65px;width: 65px;">
      <img src="{{imgCard}}" alt=""style="height: 50px;width: 50px;">
    </div>
  </div>
  <div class="destaque__title">
    <h1>WHERE NEXT?</h1>
    <div class="destaque__search">
      <img src="assets/img/loupe.png" alt="loupe search">
      <input type="search" id="search" placeholder="{{txtInput}}">
    </div>
    <div class="destaque__span-tps">
      <span *ngFor="let opt of types"><a [routerLink]="['']">{{opt}}</a></span>
    </div>
  </div>
  <div class="destaque__img-right">
    <div class="img-rgt-top">
      <img src="{{imgCard}}" alt=""style="height: 50px;width: 50px;">
      <img src="{{imgCard}}" alt=""style="height: 65px;width: 65px;">
      <img src="{{imgCard}}" alt=""style="height: 80px;width: 80px;">
      <img src="{{imgCard}}" style="height: 120px;width: 120px;">
    </div>
    <div class="img-rgt-bottom">
      <img src="{{imgCard}}" alt=""style="height: 50px;width: 50px;">
      <img src="{{imgCard}}" alt=""style="height: 80px;width: 80px;">
      <img src="{{imgCard}}" alt=""style="height: 120px;width: 120px;">
    </div>
  </div>
</div>

