.menu__container{
  /* border: 1px solid black; */
  background-color: white;
  position: fixed;
  z-index: 1000; /* Para garantir que fique acima do conteúdo */
  top: 0;

  display: flex;
  flex-direction:row;
  justify-content: space-between; /* Alinha itens nas extremidades */
  align-items: center; /* Centraliza verticalmente o conteúdo */


  width: 100%;
  height: 10%;
  padding: 0 20px; /* Adiciona espaçamento nas laterais */
  overflow: hidden; /*Evita sobreposição de components*/
}

.menu__img{
  display: flex;
  flex-direction: row;
  text-align: left;
  height: 50px;
  width:120px ;
  border-radius: 15%;
  /* border: 1px solid black; */
  margin: 5px;
}

.menu__img > a > img {
  height: 50px;
  max-height: 100%;
  width: 120px;
  max-width: 100%;
  border-radius: 15%;
}

.menu__opt{
  display: flex;
  flex-direction:row;
  text-align: left;
}

.menu__opt > ul {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.menu__opt ul > a{
  text-decoration: none;
  background-color: rgba(0, 0, 255, 0.493);
  color: inherit;
  position: relative;
  border-radius: 25px;
  margin-left: 5px;
  padding: 5px 20px;
}

.menu__opt > ul > a:hover{
  background-color: rgba(0, 51, 192, 0.411);
  color: inherit;
}

.menu__opt > ul > a > li{
  list-style-type: none;
  border-radius: 25px;
}

.menu__opt > ul > a > li:active{
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.menu__contacts > ul{
  display: flex;
  flex-direction: row;
}

.menu__contacts> ul > li {
  list-style-type: none;

  margin-right: 15px;
  padding: 10px 20px;
  font-size: large;
  font-weight: 400;

}

.menu__contacts> ul > li > a{
  color: inherit;
  text-decoration: none;
}

.menu__contacts> ul > li > a:hover{
  font-weight: bold;
  color: rgb(0, 159, 165);
}
