.menu__container{
  border: 1px solid black;
  background-color: white;
  position: fixed;
  z-index: 1000; /* Para garantir que fique acima do conteúdo */
  top: 0;

  display: flex;
  flex-direction:row;
  justify-content: space-between; /* Alinha itens nas extremidades */
  align-items: center; /* Centraliza verticalmente o conteúdo */


  width: 100%;
  height: 10%;
  padding: 0 20px; /* Adiciona espaçamento nas laterais */

}

.menu__img{
  display: flex;
  flex-direction: row;
  text-align: left;
  height: 50px;
  width:120px ;
  border-radius: 15%;
  border: 1px solid black;
  margin: 5px;
}

.menu__img > a > img {
  height: 50px;
  max-height: 100%;
  width: 120px;
  max-width: 100%;
  border-radius: 15%;
}

.menu__opt{
  display: flex;
  flex-direction:row;
  text-align: left;
}

.menu__opt > ul {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.menu__opt > ul > li{
  list-style-type: none;
  margin-left: 5px;
  padding: 5px 20px;
  border: 3px solid black;
  border-radius: 25px;

}
.menu__opt > ul > li:hover{
  background-color: green;
}


.menu__opt > ul > li > a{
  text-decoration: none;
  color: inherit;
}
.menu__opt > ul > li > a:hover{
  color: inherit;
}

.menu__opt > ul > li > a:active{
  color: red;
}
